build/
build-check/
build-local/
vcpkg_installed/
.vscode/
*.db
*.sqlite
*.sqlite3
artifacts/

mobile/.dart_tool/
mobile/.idea/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies

# Local secrets
mytoken.txt
